.bgtablon {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-color: #b3cde0;
}

a:hover > .element {
  background-color: rgba(0,0,0,0.03);
  opacity: 100;
}
